
.containerDiv{
	min-height: 380px;
	width: 70%;
	padding: 15px;
	background-color: white;
	color: fff;
	margin: 20px auto;
}
.imgContainer{
	float: left;
	margin-right: 15px;
	width: 510px;
	height: 337px;
}
.containerDiv2{
	min-height: 380px;
	width: 70%;
	padding: 15px;
	background-color: white;
	color: fff;
	margin: 20px auto;
}
.imgContainer2{
	float: right;
	margin-left: 15px;
	width: 510px;
	height: 337px;
}